<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StreetStatistics Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script>
        function copyTableToClipboard() {
            let tableText = document.getElementById('data-table').innerText;
            let tempTextarea = document.createElement('textarea');
            tempTextarea.value = tableText;
            document.body.appendChild(tempTextarea);

            tempTextarea.select();
            document.execCommand('copy');
            document.body.removeChild(tempTextarea);

            alert('Data copied to clipboard');
        }
    </script>
</head>
<body>
    <div class="container">
        <h1>StreetStatistics Dashboard</h1>

        <!-- Text-Based Stats -->
        <h3>Summary</h3>
        <ul>
            <li>Total Targets Counted: {{ text_stats.total_targets }}</li>
            <li>Total Direction A: {{ text_stats.total_direction_a }}</li>
            <li>Total Direction B: {{ text_stats.total_direction_b }}</li>
            <br>
            <li>Total Vehicles: {{ text_stats.total_vehicles }}</li>
            <li>Total Humans: {{ text_stats.total_humans }}</li>
        </ul>

        <!-- Graphs -->
        <h3>Hourly Activity</h3>
        <img src="data:image/png;base64,{{ hourly_plot_url }}" class="img-fluid">

        <h3>Class Distribution</h3>
        <img src="data:image/png;base64,{{ class_plot_url }}" class="img-fluid">

        <h3>Direction Distribution</h3>
        <img src="data:image/png;base64,{{ direction_plot_url }}" class="img-fluid">



        <h3>Data Overview</h3>

        <button class="btn btn-primary mb-3" onclick="copyTableToClipboard()">Export Data</button>

        <div id="data-table" style="overflow-x: auto;">
            {{ df|safe }}
        </div>
    </div>
</body>
</html>
